@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Raleway&display=swap');

body {
    font-family: "raleway";
    font-size: 17px;
    color:#000;

}

* {
    padding: 0;
    margin: 0;
}

.logo img {
    max-width: 130px;
    border-radius: 100px;
}
.logo p {
    font-family: "Amatic SC";
    text-align: center;
}

li {
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
}

header {
    background: #e5decb;
    padding: 22px 0;
}
.header-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header-container a {
    color: #000;
    font-style: 16px;
    margin-right: 63px;
    padding: 27px 6px;
}

.logo {
    margin-left: 30px;

}
#menu-checkbox {
    display: none;
}
ul {
    display: flex;
}

.header-container a:hover {
    background-color: #68645f;
    color:#000;
    text-decoration: none;
}

nav {
    align-items: center;
}

@media screen and (max-width:420px) {
    .header-container {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .main-menu {
        display: none;
    }
    .main-menu li{
        width: 100%;
        display: block;
        font-size: 12px;
    }
    .main-menu a{
        display: block;
        padding: 8px;
    }
    .toggle-button {
        text-align: center;
        display: block;
        cursor: pointer;
        color: #000;
    }
    .toggle-button:after{
        text-transform: uppercase;
        content: attr(data-open);
        display: block;
    }
    #menu-checkbox:checked + nav[role="navigation"] .main-menu {
        display: block;
    }
    #menu-checkbox:checked + nav[role="navigation"]  .toggle-button:after{
    content: attr(data-close);
    }
}

.back img {
    opacity: 0.8;
    width: 100%;
    position: relative;
    float: right;
    z-index: 1;
    margin-bottom: 40px;
    align-items: center;
}

.help {
    background-color: rgba(229,222,203, 0.5);
    padding: 40px;
    border-radius: 20px;
    position: absolute;
    z-index: 2;
    margin-left: 600px;
    margin-top: 60px;
    max-width: 100%;
    font-size: 16px;
}

.help h1 {
    padding-bottom: 10px;
    font-family: "Amatic SC";
    letter-spacing: 1px;
    font-size: 44px;
}

.btn {
    border-radius: 300px;
    font-size: 14px;
    padding: 12px 15px;
    border: none;
    background-color: #68645f;
    color: #fff;
    margin-top: 20px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    font-family: "raleway";
}

.btn:hover {
    opacity: 0.7;
    background-color:#827c75;
}
.btn_help {
    border-radius: 300px;
    font-size: 14px;
    padding: 12px 15px;
    border: #68645f 2px solid;
    background-color: rgba(229,222,203, 0.5);
    color: #68645f;
    margin-top: 20px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    font-family: raleway;
    letter-spacing: 1px;
}

.btn_help:hover {
    opacity: 0.7;
    background-color:#68645f;
    color:#fff;
}

.news {
    max-width: 100%;
    margin: 0 auto;
}

.news h2 {
    text-align: center;
    text-transform: uppercase;
    align-items: center;
    padding: 20px;
}


a:hover {
    opacity: 0.6;
    cursor: pointer;
    text-decoration: underline;
}

a:visited {
    color:#000;
}

.text h2 {
    text-align: left;
    padding: 20px;

}

.text a {
    text-transform: none;
    font-family: "Amatic SC";
    display: block;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    padding: 20px 0;
}

.text p{
    text-align: left;
    word-wrap: break-word;
    padding: 0 20px;
    display: block;
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    text-indent: 1.5em;
    text-align: left;

}
.text {
    display: block;
    float: right;
    width: 500px;
    display:block;
    padding: 40px;
    padding-top: 10px;
    position: absolute;
    z-index: 2;
    letter-spacing: 1px;
    margin-left: 600px;
    max-width: 1500;
}

.video {
    float: left;
    display: block;
    margin-top: 35px;
    max-width: 100%;
    margin-left: 100px;
}
iframe {
    padding: 20px 0;
    border-radius: 20px;
}

.about {
    background-color: antiquewhite;
    position:relative;
    z-index: 1;
}
.mission {
    text-align: left;
    word-wrap: break-word;
    padding: 20px;
    display: block;
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    text-align: left;
    width: 600px;
    float: right;
    margin-left: 600px;
    margin-top: 40px;
    letter-spacing: 1px;
    position: absolute;

}
.about h2 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 750px;
}
.mission h3 {
    text-transform: uppercase;
    padding-bottom: 10px;
    font-weight: bolder ;
}
.mission p {
    padding: 10px;
    font-size: 18px;
    font-family: "Raleway";
    text-align: left;
    display: block;
}
.txt p{
    font-size: 15px;
}
.ps p{
    text-align: center;
    letter-spacing: 1px;
}

.ps a {
    color: orange;
}

.adress {
    background-color: #efefef;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    display: block;
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 1px;
    color: #5e5e5e;
    margin: 60px;
    margin-right: 0;

}

.adress h2 {
    font-weight: bold;
    color: #000;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 10px ;
}

.adress p {
    padding: 10px;
    text-align: left;
}

.location a {
    color: orange;
    text-decoration: none;
}

.contact {
    padding: 20px;
}

 .contact h2 {
    text-align: center;
    margin-top: 160px;
    padding: 15px;
    padding-top: 100px;
    font-family: "Raleway";
 }

 .contact h3 {
     text-align: center;
     padding: 10px;
     padding-bottom: 40px;
       font-family: "Raleway";
 }

 .form-group label {
     display: block;
     font-size: 14px;
     color: gray;
 }

.form-group input,
.form-group textarea {
     width: 100%;
     box-sizing: border-box;
     border: none;
     border-bottom: 1px solid #ccc;
     color: #000;
     padding: 15px 0 10px;
     outline: none;
     font-family: inherit;
     background: transparent;
 }

 .row {
     display: flex;
     margin-bottom: 20px;
 }

 .row > .form-group{
     width: 50%;
     margin-right: 20px;
 }

 .row > .form-group:first-child {
     margin-bottom: 20px;
 }

 .btn {
     background: #68645f;
     padding: 15px 20px;
     color: #fff;
     border: none;
     font-family: inherit;
     cursor: pointer;
 }

 .btn:hover {
     opacity: 0.9;
 }
